@* @using Nop.Plugin.Misc.ProductWarranty.Areas.Admin.Models.WarrantyCategoryModel *@

@{
	//page title
	ViewBag.PageTitle = "Warranty Categories";
	Layout = "_AdminLayout";
}

<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Plugins.Misc.ProductWarranty.WarrantyCategories")
    </h1>
    <div class="float-right">
        <a asp-action="CreateCategory" class="btn btn-primary">
            <i class="fas fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-body">
					<nop-tabs id="warranty-categories">
						<nop-tab asp-name="categories" asp-title="@T("Plugins.Misc.ProductWarranty.WarrantyCategories")" asp-default="true">
							<div id="categories-grid"></div>
						</nop-tab>
					</nop-tabs>
				</div>
			</div>
		</div>
	</div>
</div>